html
{
    background-color: darkslategray;
    
    
}

body
{
    /* If offline use sans-serif font */
    font-family: 'Roboto Condensed', sans-serif;
    
    
}

/* Nav Bar */

ul 
{
    list-style-type: none;
    margin: 20;
    left: 36px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #123;
    position: fixed;
    bottom: 0;
    
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 24px 140px;
    text-decoration: none;
}

li a:hover:not(.active) 
{
    background-color: gray;
    cursor: pointer;
}

.active 
{
    background-color: #02183a;
}

/* White Box */

.box
{
    
    width: 1000px; 
    height: 400px; 
    padding: 30px;
    margin-top: 50px;
    margin-left: auto; 
    margin-right: auto;   
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    box-shadow: 8px 8px 5px #888;
}

/* Copyright */

.righttopfooter
{
    float: right;
    font-size: 10px;
}

/* Text Values/Styles */

.indent
{
    text-indent: 25px;
}

/* img properties */

img
{
    float: right;
    width: 220px; 
    height: 170px;
}